header {
    background-color: rgb(215, 227, 255);
    padding: 0.3em 0.5em;
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 1px solid #00000032;
}

.logo {
    width: 90%;
    height: auto;
    margin-left: 0.5em;
}

nav {
    padding: 0;
    text-align: center;
    margin: auto;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    display: inline;
    margin: 0 0.3em;
}

nav li a {
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.4em 0.6em;

    &:hover {
        background-color: #ffffff88;
        border-radius: 5px;
    }
}

.active {
    background-color: #ffffff88;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .logo {
        width: 50%;
        margin-left: 1em;
    }

    nav {
        width: 70%;
        text-align: right;
    }

    nav li {
        margin: 0 0.5rem;
    }

    nav li a {
        padding: 0.5rem 1rem;
        font-size: 1em;
    }
}