<h1>Mitt ramschema</h1>
<p id="ingress">Här hittar du ditt eget ramschema, se totala högskolepoäng kurserna ger och ta bort kurser. </p>

<div class="table">
    <table mat-table [dataSource]="getCourses()" class="mat-elevation-z8">
        <ng-container matColumnDef="courseCode">
            <th mat-header-cell *matHeaderCellDef class="th-link">Kod</th>
            <td mat-cell *matCellDef="let course"> {{course.courseCode}} </td>
        </ng-container>

        <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef class="th-link">Kursnamn</th>
            <td mat-cell *matCellDef="let course"> {{course.courseName}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef class="th-link">Poäng</th>
            <td mat-cell *matCellDef="let course"> {{course.points}}p</td>
        </ng-container>

        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef class="th-link">Ämne</th>
            <td mat-cell *matCellDef="let course"> {{course.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="syllabus">
            <th mat-header-cell *matHeaderCellDef>Kursplan</th>
            <td mat-cell *matCellDef="let course"><a [href]="course.syllabus" target="_blank" rel="noopener"
                    id="syllabus">Kursplan</a></td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef id="delete-heading">Ta bort</th>
            <td mat-cell *matCellDef="let course" id="delete">
                <button mat-flat-button (click)="deleteCourse(course.courseCode)">
                    <mat-icon>delete</mat-icon>
                    Ta bort
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="box">
        <div class="info">
            <p><strong>Antal kurser:</strong> {{ courseCount() }}st</p>
            <p><strong>Totalt antal poäng:</strong> {{ totalPoints() }} hp</p>
        </div>
        <button mat-flat-button (click)="clearAll()" id="clear">
            <mat-icon>delete</mat-icon>
            Ta bort alla kurser
        </button>
    </div>

</div>