
<div class="puff-container">
    <mat-card class="puff">
        <img mat-card-image [src]="students" alt="Studenter som sitter ocg diskuterar JavaScript-kod" width="400px" />
        <mat-card-title>Campus & studentliv</mat-card-title>
        <mat-card-content>
            <p>Upptäck vårt levande campus med studentföreningar, aktiviteter och en härlig gemenskap.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/">Läs mer</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="puff">
        <img mat-card-image [src]="books" alt="Böcker travade på varandra i olika färger" width="400px" />
        <mat-card-title>Utforska våra utbildningar</mat-card-title>
        <mat-card-content>
            <p>Hitta rätt utbildning för dig – från kortare kurser till hela program inom många områden.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/Kurser">Läs mer</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="puff">
        <img mat-card-image [src]="distance" alt="Studenter som sitter med datorer och pratar" width="400px" />
        <mat-card-title>Plugga på distans</mat-card-title>
        <mat-card-content>
            <p>Välj när och var du vill plugga. Vi har många distansutbildningar för dig som vill kombinera arbete och
                studier.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/">Läs mer</button>
        </mat-card-actions>
    </mat-card>
</div>
