p {
    width: 90%;
    max-width: 500px;
    margin: 0 auto 1em;
}

mat-form-field {
    width: 90%;
    margin: 0 5%;
}

.table {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #e0e0e0;
}

#add button {
    font-size: 0.875em;
    white-space: nowrap;
}

.th-link {
    text-decoration: underline;
    cursor: pointer;
}

#syllabus {
    color: #005dbb;
    font-weight: 500;
    text-decoration: none;
}

#syllabus:hover {
    text-decoration: underline;
}

@media (min-width: 50rem) {
    mat-form-field {
        width: 45%;
        margin: 0 2.5%;
    }

    .table {
        margin: 0 auto;
        overflow-x: unset;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}